* {
    box-sizing: border-box;
  }

  body { 
    font-family: Helvetica;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 75px;
    background-color: #eeedeb;
    padding: 65px;  
  }

  header h1 { 
    text-transform: uppercase;
    font-size: 36px;
  }

  nav {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 25px 0px 25px;
  }

  nav a {
    color: black;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
  }

  nav a:hover {
    color: gray;
  }

  main { 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px; 
  }

  main h2 { 
    font-size: 72px; 
  }

  main p {
    font-size: 24px;
  }

  .about-section { 
    display: flex; 
    justify-items: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
    max-width: 1000px;
    border: solid 1px;
  
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .about-image {
    height: 600px;
    width: auto; 
}